*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
.container {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	color: black;
	background: rgb(34, 193, 195);
	background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 89%);
}
.container {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

header {
	text-align: center;
	padding: 20px;
	padding-top: 0px;
	color: hsl(206, 17%, 28%);
}

a:link {
	color: white;
}

#the-question {
	text-align: center;
	padding: 50px;
	font-size: 30px;
}

#theTime {
	float: right;
	display: block;
	color: black;
	font-size: 20px;
}

h1 {
	font-size: 40px;
}

.description {
	color: black;
	font-size: 25px;
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
	padding: 20px;
	padding-top: 10px;
	padding-right: 100px;
}
.description2 {
	color: hsl(206, 17%, 28%);
	font-size: 18px;
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
	padding: 20px;
	padding-top: 100px;
}

#d-body {
	text-align: center;
	font-size: 30px;
}

.time {
	font-size: 25px;
	padding: 1px;
	margin-right: 20px;
	margin-top: 10px;
	text-align: right;
}

li {
	background-color: green;
	margin-top: 30px;
	padding: 15px 15px;
	width: 60%;
	font-size: 18px;
	color: white;
}

ul {
	list-style-type: lower-alpha;
	text-align: center;
}

.btn {
	border: none;
	background-color: rgb(27, 228, 194);
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
	color: hsl(0, 0%, 100%);
	display: inline-block;
	font-size: 22px;
	line-height: 22px;
	margin: 16px 16px 16px 20px;
	padding: 14px 34px;
	text-align: center;
	cursor: pointer;
}

*/ button[disabled] {
	cursor: default;
	background: #c0c7cf;
}

.float-right {
	float: right;
}

.hide {
	display: none;
}

@media (max-width: 690px) {
	.btn {
		font-size: 1rem;
		margin: 16px 0px 0px 0px;
		padding: 10px 15px;
	}

	@media (max-width: 500px) {
		.btn {
			font-size: 0.8rem;
		}
	}
}
